<div class="banner">
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="image" class="imgFluid banner__bg">
    <div class="pcontainer">
        <div class="row align-items-center">
            <div class="col-12 col-lg-12">
                <div class="banner-content">
                    <h1>Welcome To </h1>
                    <h2>EMBELLISH RHINESTONES & HTV PATTERNS DESIGN</h2>
                    <!-- <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting text ever since the 1500s
                    </p> -->
                    <a href="/collections/all" class="btn">Shop Now</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% schema %}
    {
      "name": "Cus Banner",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "default": "Collections",
          "label": "Sub Heading"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Collections",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "default": "<p>Collections</p>",
          "label": "Content"
        }
    ],
    "presets": [
        {
          "name": "Cus Banner"
        }
      ]
    }
    {% endschema %}