<section class="breadcumb" style="background-image: url(assets/images/inner-banner.png);">
    <div class="container">
        <div class="breadcumb-con">
          {% if section.settings.page_title != blank %}
            <h2>{{ section.settings.page_title }}</h2>
          {% else %}
            <h2>{{ page.title | escape }}</h2>
          {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "text",
      "id": "page_title",
      "label": "Page Title"
    }, 
    {
      "type": "image_picker",
      "id": "banner_img",
      "label": "Banner Image"
    }
  ]
}
{% endschema %}
